- breadcrumb_title _("Schedules")
- page_title _("Pipeline Schedules")
- add_page_specific_style 'page_bundles/pipeline_schedules'

#pipeline-schedules-callout{ data: { docs_url: help_page_path('ci/pipelines/schedules'), image_url: image_path('illustrations/pipeline_schedule_callout.svg') } }
.top-area
  - schedule_path_proc = ->(scope) { pipeline_schedules_path(@project, scope: scope) }
  = render "tabs", schedule_path_proc: schedule_path_proc, all_schedules: @all_schedules, scope: @scope

  - if can?(current_user, :create_pipeline_schedule, @project)
    .nav-controls
      = link_to new_project_pipeline_schedule_path(@project), class: 'btn btn-success' do
        %span= _('New schedule')

- if @schedules.present?
  %ul.content-list
    = render partial: "table"
- else
  .card.bg-light
    .nothing-here-block= _("No schedules")
